@model StatsResponse

@{
    ViewData["Title"] = "Podrobnosti";
}


<body>
    <div id="sirkatextu">
        <div>
            <h3>Podrobnosti o sportovci</h3>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Age)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Age)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Weight)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Height)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Height)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BMI)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BMI)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BMR)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BMR)
                </dd>
            </dl>
        </div>
        <div>

            <a asp-action="Index" class="pridat-tlacitko">Zpět</a> |
            <a asp-controller="Account" asp-action="Administration" class="pridat-tlacitko">Zpět na administraci účtů</a>
        </div>
    </div>
</body>

