@model IEnumerable<StatsResponse>

@{
    ViewData["Title"] = "Informace o sportovci";
}


<body>
    <div id="sirkatextu">

        <h3>Informace o sportovci</h3>

        <p>
            <a class="pridat-tlacitko" asp-action="Create">Přidat záznam</a>
        </p>
        <p>
            Zadejte informace o uživateli kliknutím na tlačítko "Přidat uživatele".
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Weight)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Height)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BMI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BMR)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Weight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Height)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BMI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BMR)
                        </td>
                        <td>
                            <a asp-action="Edit" class="pridat-tlacitko" asp-route-id="@item.StatsId">Upravit</a> |
                            <a asp-action="Details" class="pridat-tlacitko" asp-route-id="@item.StatsId">Podrobnosti</a> |
                            <a asp-action="Delete" class="pridat-tlacitko" asp-route-id="@item.StatsId">Smazat</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <br />
        <a asp-controller="Users" asp-action="Index" class="pridat-tlacitko">Zpět na informace o uživateli</a> |
        <a asp-action="AverageUser" class="pridat-tlacitko">Měsíční průměry</a> |
        <a class="pridat-tlacitko" asp-controller="PrijemVydejEnergie" asp-action="Index" target="_blank">Energetická bilance</a>
        
    </div>
</body>

