@using PohybStrava.Models.Response;
@model IEnumerable<PohybStrava.Models.Response.ActivityResponse>

@{
    ViewData["Title"] = "Měsíční přehled aktivit";
}

<body>
    <div id="sirkatextu">
        <h3 id="tabulkynadpis">Sportovní aktivity - měsíční přehledy</h3>
        <table class="table" id="centrovanitabulky">
            <thead>
                <tr>
                    <th>
                        Měsíc/rok
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Distance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Elevation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EnergyActivityTotal)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Month/@item.Year
                        </td>
                        <td>
                            @item.DistanceSum
                        </td>
                        <td>
                            @item.ElevationSum
                        </td>
                        <td>
                            @item.EnergyActivityTotal
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <br />
        <a asp-action="Index" class="pridat-tlacitko">Zpět na denní hodnoty</a>
    </div>
</body>